/* mobile-Phones */
@media(max-width: 600px) {
  /* NavBar */
  #nav-bar {
    display: none;
  }

  .image-home h1,
  .image-home p {
    display: none;
  }

  #menu .menu-wrap,
  #menu h3 {
    display: flex;
    width: 100%;
    z-index: 1;
    }

  .menu-wrap {
    justify-content: flex-end;
    justify-items: flex-end;
    align-items: flex-end;
    padding-left: 20rem;
  }

  .menu-bar {
    height: 60px;
    width: 100%;
    border-bottom: rgb(221, 221, 221) 1px solid;
    background: #fff;
    opacity: 0.9;
    display: flex;
    justify-content: center;
  }

   #menu .menu-bar-text {
    margin-left: 0;
    font-size: 2.3rem;
    color: var(--primary-color);
    justify-content: flex-start;
  }


  /* Utilities */
  .columns {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 1rem;
    margin: 0.5rem 0.5rem;
    height: 1000px;
  }

  /* Home Section A */
  #home-section-a .columns {
    height: 850px;
  }
  #home-section-a .column-image {
    height: 400px;
    padding: 0.5rem 0;
    margin: 0;
  }

  #home-section-a .column-text {
    height: 400px;
    font-size: 1rem;
    padding: 0.5rem 0rem;
    margin: 0.5rem 0;
  }

  #home-section-a .column-text a:hover {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.5rem;
  }

  /* End Home Section A */

  /* ---------------------- */

  /* Hidden Items */
#take-care-box .columns {
  margin: 1rem 1rem;
  height: 600px;
}

#take-care-box .columns .column-image-1  {
  height: 400px;
  width: 100%;
}

#take-care-box .columns .column-text {
  height: 120px;
  width: 100%;
  justify-content: center;
  margin: 0rem;
  padding: 0 2rem;
}

.unhidden-object {
  display: grid;
}

.hidden-object {
  display: none;
}


#take-care-box .columns .column-image-2  {
  height: 400px;
  width: 100%;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

#take-care-box .columns .column-image-3  {
  height: 400px;
  width: 100%;
  border-radius: 50%;
  margin: 0;
}

/* End of Hidden Items */

/* ----------------------------- */

/* Home Section B */
#home-section-b .columns {
  height: 460px;
}

#home-section-b .columns .column-text {
  padding-bottom: 1rem;
  margin-bottom: 0;
  height: 450px;
}

#home-section-b .columns .column-text a {
  margin: 0;
}

#home-section-b .columns .column-image-4 {
  display: none;
}

/* End Section B */

/* ------------------------------ */


/* Collaboration Section A */
.image-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem 0.5rem;
}

.center-box {
  text-align: center;
  margin: 6rem 1rem;
}

/* End Collaboration */

/* ----------------------------- */

/* About */
.center-box {
  margin: 2rem 2rem;
}

#about-columns {
  height: 1200px;
  margin-bottom: 1rem;
}

.column-text-about-1 {
  height: 400px;
  margin: 0;
  text-align: justify;
}

.column-text-about-2 h3 {
  text-align: end;
}

.column-text-about-2 {
  height: 650px;
  margin: 2rem;
  text-align: justify;
}

/* End of About */

/* ---------------------------- */

/* Contact */
.form-container .text-fields {
  margin: 0 2rem;
}


/* ----------------- */

/* Footer */
#main-footer .columns {
  height: 8rem; 
  margin: 1rem 1rem;
  display: grid;
}

.column-footer-right i {
  padding: 1rem
}

}

/* iPhone 5 */
@media(max-width: 330px) {

  .menu-wrap {
    padding-left: 18rem;
  }

  .form-container .text-fields button {
    margin: 0;
  }

  .column-footer-right i {
    padding: 0.5rem
  }
  
}